body{
    background-image: url('images/image.jpg');
    }
    .small1{
        font-size:13px ;
        text-decoration: none;
    }
    .a1{
        text-decoration:none;
        color:rgb(87, 178, 130)
    }

    
    